<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
    <link rel="icon" href="{{ "favicon.ico" | relURL }}" type="image/x-icon">
    {{ $normalize := resources.Get "css/normalize.css" }}
    {{ $main := resources.Get "css/main.css" }}
    {{ $css := slice $normalize $main | resources.Concat "css/bundle.css" | resources.Minify }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}">
</head>